# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"
# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `npx -y @better-auth/cli secret`

# Access Configuration
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=

ORGANIZATION_NAME=
ORGANIZATION_SLUG=

DEFAULT_BRANCH_NAME=
DEFAULT_BRANCH_SLUG=

# Miscellaneous
VITE_APP_URL=http://localhost:3000
